.services-card {
    margin-top: 50px;
    margin-left: 20px;
}

.client-card {
    height: 320px;
    display: flex;
    align-items: center;
    border: 1px #000000;
    padding: 10px;
    box-shadow: 5px 10px 8px #ECECEC;
}