<div class="c-footer">
    <div class="c-layout-footer-10-content container">
        <div class="row">
            <div class="col-md-5">
                <div class="c-layout-footer-10-title-container">
                    <h3 class="c-layout-footer-10-title">Company Overview</h3>
                    <div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
                </div>
                <p class="c-layout-footer-10-desc">
                    Agile is an outsourcing company that caters to developing and growing companies, positioning them to scale efficiently.  
                </p>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3">
                        <div class="c-layout-footer-10-title-container">
                            <h3 class="c-layout-footer-10-title">About Us</h3>
                            <div class="c-layout-footer-10-title-line"><span class="c-theme-bg"> </span></div>
                        </div>
                        <ul class="c-layout-footer-10-list">
                            <li class="c-layout-footer-10-list-item"><a href="#">Contact Us</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Branches</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Our Blog</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="c-layout-footer-10-title-container">
                            <h3 class="c-layout-footer-10-title">Services</h3>
                            <div class="c-layout-footer-10-title-line"><span class="c-theme-bg"> </span></div>
                        </div>
                        <ul class="c-layout-footer-10-list">
                            <li class="c-layout-footer-10-list-item"><a href="#">Advisory</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Institute</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Strategy</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Alliances</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="c-layout-footer-10-title-container">
                            <h3 class="c-layout-footer-10-title">Partners</h3>
                            <div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
                        </div>
                        <ul class="c-layout-footer-10-list">
                            <li class="c-layout-footer-10-list-item"><a href="#">Clients</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Suppliers</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Investors</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Groups</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="c-layout-footer-10-title-container">
                            <h3 class="c-layout-footer-10-title">Achievements</h3>
                            <div class="c-layout-footer-10-title-line"><span class="c-theme-bg"></span></div>
                        </div>
                        <ul class="c-layout-footer-10-list">
                            <li class="c-layout-footer-10-list-item"><a href="#">Awards</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Trophies</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Our Patents</a></li>
                            <li class="c-layout-footer-10-list-item"><a href="#">Key People</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-layout-footer-10-subfooter-container c-bg-grey">
        <div class="c-layout-footer-10-subfooter container">
            <div class="c-layout-footer-10-subfooter-content">
                <span id="sp-copyright"></span>
            </div>
            <div class="c-layout-footer-10-subfooter-social">
                <ul>
                    <li><a href="#" class="socicon-btn socicon-twitter tooltips"
                            data-original-title="Twitter"></a></li>
                    <li><a href="#" class="socicon-btn socicon-facebook tooltips"
                            data-original-title="Facebook"></a></li>
                    <li><a href="#" class="socicon-btn socicon-google tooltips"
                            data-original-title="Google"></a></li>
                    <li><a href="#" class="socicon-btn socicon-yahoo tooltips" data-original-title="Yahoo"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>